* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #83898d;
    line-height: 1.6;
}

h1 {
    color: #4a4a4a;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .15rem;
    margin: 3.5rem 0 2rem;
}

h2 {
    color: #404a51;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

#employees {
    margin-bottom: 1rem;
}

#employees ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

#employees ul li {
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #dfdfdf;
    padding: 1rem;
    transition: .3s ease-out;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#employees ul li:hover {
    border-color: #4ECDC4;
    background-color: rgba(78,205,196, .05);
}

#employees h2 {
    margin: 0;
    font-size: 1.25rem;
}

#employees img,
.modal img {
    margin-right: 1rem;
    border-radius: 50%;
}

#employees span,
.modal span {
    display: block;
}

/* ------ Overlay ------ */
.overlay {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: .3s;
    display: none;
    padding-top: 5rem;
}

/* ------ Modal ------ */
.modal {
    background-color: #fff;
    border: 2px solid #dfdfdf;
    padding: 2rem;
    margin: auto 1rem;
    border-radius: 6px;
    text-align: center;
    position: relative;
    line-height: 2;
    z-index: 2;
}

.modal h2 {
    margin: .5rem 0 0;
}

.modal .close {
    top: 0;
    right: 1rem;
}

.modal .close:hover,
.modal .close:focus {
    opacity: .5;
    cursor: pointer;
}

.modal .close,
.modal .arrow-left,
.modal .arrow-right {
    color: #4a4a4a;
    font-size: 28px;
    position: absolute;
    transition: opacity .2s;
    user-select: none;
}

.modal .arrow-left,
.modal .arrow-right {
    background-color: rgba(0, 0, 0, .1);
    height: 50px;
    width: 50px;
    line-height: 50px;
    bottom: 1rem;
    border-radius: 6px;
    transition: background-color .2s;
}

.modal .arrow-left {
    left: 1rem;
}
.modal .arrow-right {
    right: 1rem;
    background-color: rgba(0, 0, 0, .1);
}

.modal .arrow-left:hover,
.modal .arrow-left:focus,
.modal .arrow-right:hover,
.modal .arrow-right:focus {
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
}

.line {
    border-bottom: 1px solid #dfdfdf;
    margin: 2rem 0;
}

.search {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

label {
    display: inline-block;
    margin-bottom: 1rem;
}

input[type="search"] {
    border: 2px solid #dfdfdf;
    padding: .5rem;
    border-radius: 6px;
    transition: .3s ease-out;
    width: 100%;
    margin-bottom: 1rem;
}

input[type="search"]:focus {
    border: 2px solid #4ECDC4;
}

.btn {
    background-color: #e5e5e5;
    border: 1px solid #dfdfdf;
    padding: .5rem;
    border-radius: 6px;
    cursor: pointer;
}

input[type="search"]:focus,
.btn:focus {
    outline: none;
}

@media (min-width: 768px) {
    #employees ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .modal {
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 1300px;
    }
}

@media (min-width: 1300px) {
    #employees {
        margin-bottom: 2rem;
    }

    #employees ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
    }

    .modal {
        width: 33.333333333%;
    }
}